@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1c1026;
    background-size: cover;
   
}

a{
    text-decoration: none;
    font-family: Audiowide;
    font-weight: bold;
    color: #fff;
}

/* Contenido navegación */

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1c1026;
    height: 60px;
}

.logo{
    width: 250px;
}

.logo a{
    font-family: Audiowide;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul{
    padding: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 20px;
    font-size: 14px;
}

nav ul li a:hover{
    color: magenta;
    transition: all 0.5s ease-in-out;
}

.primera{
    padding: 30px 5%;
    margin-top: 0.1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.primera h1{
    font-size: 25px;
    font-family: Audiowide;
    padding: 2%;
    color: magenta;
    
}
.primera p{
    font-family: Poppins;
    font-size: 16px;
}

.imagen-derecha{
    display: flex;
    width: auto;
    float: right;
    flex-wrap: wrap;
    margin-right: 2%;
     /* Establecemos la duración de la animación en 2 segundos */
     animation-duration: 30s;
     /* Especificamos que la animación se repetirá infinitamente */
     animation-iteration-count: infinite;
     /* Especificamos la función de tiempo de la animación */
     animation-timing-function: linear;
     /* Especificamos la animación a utilizar */
     animation-name: rotate;
}
  
  /* Definimos la animación */
  @keyframes rotate {
    /* Especificamos el estado inicial de la animación */
    from {
      transform: rotate(0deg);
    }
    /* Especificamos el estado final de la animación */
    to {
      transform: rotate(360deg);
    }
  }

/* Scroll down */
.mouse {
    height:50px;
    width:35px;
    border-radius:14px;
    border:2px solid #fff;
    align-items: center;
    margin-left: 1330px;
    margin-top: -260px;
}
.mouse:after {
    content:'';
    display:block;
    height:8px;
    width:2px;
    margin:10px auto;
    background:#fff;
    position:relative;
    -webkit-animation:a 1.2s ease infinite;
    animation:a 1.2s ease infinite;
}
.arrow-scroll {
    width:35px;
    margin-top:10px;
    margin-left: 1332px;
    margin-top: 5px;
}
.arrow-scroll>span {
    font-family:Arial,sans-serif;
    display:block;
    width:9px;
    height:9px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    margin:5px auto 3px;
    -webkit-animation:b 1s infinite;
    animation:b 1s infinite;
    -webkit-animation-delay:.2s;
    animation-delay:.2s
}
.arrow-scroll>span:first-child {
    -webkit-animation-delay:.1s;
    animation-delay:.1s;
}
.arrow-scroll>span:last-child {
    -webkit-animation-delay:.3s;
    animation-delay:.3s;
}
@-webkit-keyframes a {
    0% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
        } to {
            opacity:0;
            -webkit-transform:translateY(8px);
            transform:translateY(8px);
            }
}
@keyframes a {
    0%{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    } to {
        opacity:0;
        -webkit-transform:translateY(8px);
        transform:translateY(8px);
    }
}
@-webkit-keyframes b {
    0% {
        opacity:0;
    } 50% {
        opacity:.5;
    } to {
        opacity:1;
    }
}
@keyframes b {
    0% {
        opacity:0;
    } 50% {
        opacity:.5;
    } to {
        opacity:1;
    }
}  